<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ed81b7ac-6e53-4bb3-b811-fa37c19e84a1" name="GetMyPlaylists -v1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ed81b7ac-6e53-4bb3-b811-fa37c19e84a1fileName">GetMyPlaylists--v1.3</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="d620f373-fa44-4949-97ea-b813003dd3e8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0c81de72-7761-426f-a33f-31e9f3406cdd">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="ddaf92d0-02d9-4241-a8ee-5df6b1c96e08">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
