<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b9f5ce6a-ae5c-4bba-b011-0cad65fecaa6" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b9f5ce6a-ae5c-4bba-b011-0cad65fecaa6fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
