<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="37e2dd26-75b9-49e0-9bcb-05ff49e7b4b7" name="Spotify DB Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:description>The test suite generated for the REST service [Spotify API]</con:description>
  <con:settings>
    <con:setting id="37e2dd26-75b9-49e0-9bcb-05ff49e7b4b7fileName">Spotify-DB-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property userSpecific="true">
      <con:name>User_ID</con:name>
      <con:value>1297351218</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="fcd6baa0-6318-4866-8e60-77015c7d6f90">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="d620f373-fa44-4949-97ea-b813003dd3e8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0c81de72-7761-426f-a33f-31e9f3406cdd">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="ddaf92d0-02d9-4241-a8ee-5df6b1c96e08">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
