<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2493873d-85f6-42d2-8d78-6faf6c3a4596" name="Spotify API" type="rest" wadlVersion="http://wadl.dev.java.net/2009/02" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="2493873d-85f6-42d2-8d78-6faf6c3a4596fileName">Spotify-API</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT"/>
  <con:endpoints>
    <con:endpoint>http://localhost:8087/</con:endpoint>
    <con:endpoint>http://localhost:8089/</con:endpoint>
    <con:endpoint>https://api.spotify.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="fcd6baa0-6318-4866-8e60-77015c7d6f90">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="d620f373-fa44-4949-97ea-b813003dd3e8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0c81de72-7761-426f-a33f-31e9f3406cdd">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="ddaf92d0-02d9-4241-a8ee-5df6b1c96e08">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
